.day_cell {
  border: solid 1px rgb(229 231 235);
  display: flex;
  flex-direction: column;
}

.day_cell_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day_name {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  margin-top: 0.25rem;
}

.day_number {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding: 0.25rem; /* 4px */
  margin-top: 0.25rem; /* 4px */
  margin-bottom: 0.25rem; /* 4px */
  text-align: center;
}

.day_text_rounded {
  background-color: rgb(37 99 235);
  color: white;
  border-radius: 9999px;
  width: 1.25rem;
  height: 1.25rem; /* 28px */
  text-align: center;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding: 0.25rem; /* 4px */
  margin-top: 0.25rem; /* 4px */
  margin-bottom: 0.25rem; /* 4px */
  text-align: center;
}

.day-grid-cell {
  cursor: pointer;
  flex: 1 1 0%;
  font-weight: bold;
}
