.main_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.calendar {
  display: flex;
  flex: 1 1 0%;
}
.month {
  flex: 1 1 0%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
}
